#userinfo{
    display: grid;
    font-size: 25px;
    border: 1px solid black;
}

main{
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    column-gap: 100px;
    justify-content: center;
    border: 1px solid black;
}

#logout{
    font-size: 30px;
}

